@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    background-color: rgba(245, 245, 255, 0);
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}

th{
    background-color: #080808;
    color: white;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 50%;
    vertical-align: middle;
    margin-right: -4px;
}



.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



